services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: ecom@2025
  postgres:
    image: postgres:16
    ports:
      - "5432:5432"
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: ecomdb@2025
      POSTGRES_DB: mypgdb
    volumes:
      - postgres_data:/var/lib/postgresql/data
volumes:
  postgres_data: